<h1 class="h3 mb-2 text-gray-800">Deploy API</h1>
<div>
  <form [formGroup]="apiFormGroup" (ngSubmit)="onSubmit()">
    <ngb-tabset [destroyOnHide]="false" [activeId]="activeIdString">
      <ngb-tab title="Basic Info" id="1">
        <ng-template ngbTabContent>
          <div class="form-group" style="margin-top: 10px;">
            <label for="name">API Name</label>
            <input class="form-control form-control-user" formControlName="name" type="text"
              placeholder="your unique api name..." />
          </div>
          <div class="form-group">
            <label for="context">API Context</label>
            <input class="form-control" formControlName="context" type="text"
              placeholder="your/unique/context..." />
          </div>
          <div class="form-group">
            <label for="endpointType">Endpoint Type</label>
            <select class="form-control" formControlName="endpointType">
              <option></option>
              <option>HTTP</option>
              <option>HTTPS</option>
            </select>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" formControlName="secured">
            <label class="form-check-label" for="secured">Secured</label>
          </div>
          <div class="form-group" *ngIf="overviewSecured">
            <label for="clientID">Role Name</label>
            <input class="form-control" formControlName="clientID" type="text"
              placeholder="role name..." />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="button" style="float: right;" (click)="switchNgBTab('2')">
              Next
            </button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Swagger Info" id="2">
        <ng-template ngbTabContent>
          <div class="input-group" style="margin-bottom: 1rem; margin-top: 1rem;">
            <input type="text" class="form-control" placeholder="http://your swagger endpoint..." aria-label="Search" aria-describedby="basic-addon2" formControlName="swaggerEndpoint">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="previewSwagger()">
                Preview
              </button>
            </div>
          </div>
          <div class="card shadow mb-4" [hidden]="!showSwaggerDefinition">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Swagger Definition</h6>
            </div>
            <div class="card-body">
              <div id="swagger-ui"></div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="button" (click)="switchNgBTab('3')">
              Next
            </button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Endpoints Info" id="3">
        <ng-template ngbTabContent>
          <div class="form-group">
            <div formArrayName="endpoints">
              <div class="input-group" *ngFor="let endpoint of endpoints.controls; let i=index"
                style="margin-bottom: 1em;">
                <input class="form-control" placeholder="Endpoint: host without http..." aria-label="Remove"
                  aria-describedby="basic-addon2" type="text" [formControlName]="i" [name]="'input' + i"
                  [id]="'input' + i" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="onEnter()">
                    Add
                  </button>
                  <button class="btn btn-danger" type="button" (click)="removeEndpoint(i)">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="button" (click)="switchNgBTab('4')">
              Next
            </button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="CORS Configuration" id="4">
        <ng-template ngbTabContent>
          <div class="form-group form-check" style="margin-top: 1rem;">
              <input type="checkbox" class="form-check-input" formControlName="corsEnabled">
              <label class="form-check-label" for="corsEnabled">Enable CORS</label>
          </div>
          <div class="form-group" *ngIf="showCorsConfiguration">
            <div formArrayName="allowedOrigins">
              <div class="input-group" *ngFor="let allowedOrigin of allowedOrigins.controls; let i=index"
                style="margin-bottom: 1em;">
                <input class="form-control" placeholder="Origin: host without http..." aria-label="Remove"
                  aria-describedby="basic-addon2" type="text" [formControlName]="i" [name]="'input' + i"
                  [id]="'input' + i" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="addOrigin()">
                    Add
                  </button>
                  <button class="btn btn-danger" type="button" (click)="removeOrigin(i)">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="button" (click)="switchNgBTab('5')">
              Next
            </button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Throttling Settings" id="5">
        <ng-template ngbTabContent>
          <div class="form-group form-check" style="margin-top: 1rem;">
            <input type="checkbox" class="form-check-input" formControlName="throttlingPolicies">
            <label class="form-check-label" for="throttlingPolicies">Throttling Policies</label>
          </div>
          <div class="card border-left-primary shadow h-100 py-2" *ngIf="showThrottlingPolicies"
            style="margin-bottom: 1rem; margin-top: 1rem;">
            <div class="card-body">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" formControlName="applyPerPath">
                <label class="form-check-label" for="applyPerPath">Apply per Path</label>
              </div>
              <div class="form-group">
                <label for="maxCallsAllowed">Max Calls Allowed</label>
                <input class="form-control" formControlName="maxCallsAllowed" type="number" />
              </div>
              <div class="form-group">
                <label for="periodForMaxCalls">Period (in minutes) for max calls</label>
                <input class="form-control" formControlName="periodForMaxCalls" type="number" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="button" (click)="switchNgBTab('6')">
              Next
            </button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Error Handling Settings" id="6">
        <ng-template ngbTabContent>
          <div class="form-group form-check" style="margin-top: 1rem;">
            <input type="checkbox" class="form-check-input" formControlName="blockIfInError">
            <label class="form-check-label" for="blockIfInError">Block if in error</label>
          </div>
          <div class="card border-left-primary shadow h-100 py-2" *ngIf="showBlockIfInError"
            style="margin-bottom: 1rem; margin-top: 1rem;">
            <div class="card-body">
              <div class="form-group">
                <label for="maxAllowedFailedCalls">Max allowed fail calls</label>
                <input class="form-control" formControlName="maxAllowedFailedCalls" type="number" />
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" formControlName="unblockAfter">
                <label class="form-check-label" for="unblockAfter">Unblock after?</label>
              </div>
              <div class="form-group">
                <label for="unblockAfterMinutes">Unblock After (minutes)</label>
                <input class="form-control" formControlName="unblockAfterMinutes" type="number" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="button" (click)="switchNgBTab('7')">
              Next
            </button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Overview" id="7">
        <ng-template ngbTabContent style="margin-bottom: 1rem; margin-top: 1rem;">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Basic Info</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>API Name</td>
                <td>{{overviewApiName}}</td>
              </tr>
              <tr>
                <td>API Context</td>
                <td>{{overviewApiContext}}</td>
              </tr>
              <tr>
                <td>Endpoint Type</td>
                <td>{{overviewEndpointType}}</td>
              </tr>
              <tr>
                <td>Secured?</td>
                <td>{{overviewSecured}}</td>
              </tr>
              <tr *ngIf="overviewSecured">
                <td>Role Name</td>
                <td>{{clientID}}</td>
              </tr>
              <tr>
                <td>Swagger Endpoint</td>
                <td>{{overviewSwaggerEndpoint}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Endpoint Info</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let endpoint of endpoints.controls; let i=index">
                <td>{{endpoint.value}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">CORS Configuration</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let allowedOrigin of allowedOrigins.controls; let i=index">
                <td>{{allowedOrigin.value}}</td>
              </tr>
            </tbody>
          </table>
          <div class="control form-group">
            <button type="button" class="btn btn-success btn-user btn-block" (click)="onSubmit()">Deploy</button>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </form>
</div>